* {
    background-color: inherit;
    color: #dddddd;
    font-family: "Hack Nerd Font Mono";
    font-size: 14px;
}

window {
    background-color: #111111;
    border: 2px solid #222222;
    border-radius: 12px;
}

#outer-box {
    border-radius: 12px;
    margin: 4px;
    padding: 8px;
}

#input {
    background-color: #111111;
    border: 2px solid #444444;
    border-radius: 12px;
    color: #dddddd;
    margin-bottom: 16px;
}

#text {
    color: #585858;
}

#text:selected {
    color: #dddddd;
}
