:root {
    --color-inactive: #585858;
    --color-white: #dddddd;
    --color-green: #26a66a;
    --color-red: #f53c3c;
}

* {
    font-family: "Hack Nerd Font Mono", FontAwesome;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(44, 48, 60, 0.2);
    border-bottom: 2px solid rgba(100, 114, 126, 0.2);
    color: var(--color-white);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -2px transparent;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px var(--color-white);
}

#workspaces button {
    background-color: transparent;
    color: var(--color-inactive);
    padding: 0 5px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: var(--color-white);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network,
#battery,
#clock {
    background-color: transparent;
    color: var(--color-white);
    padding: 0 10px;
}

#network.disconnected {
    color: var(--color-red);
}

#battery.charging,
#battery.plugged {
    color: var(--color-green);
}

#battery.critical:not(.charging) {
    color: var(--color-red);
}
